---
import Mailicon from "./icons/Mailicon.astro";
import Sectioncontainer from "./Sectioncontainer.astro";
---
<div class="border border-[#242223]"></div>
<Sectioncontainer class="grid  h-dvh">
    <a href="" class="" >
                <div class="flex gap-2 items-center uppercase font-medium">
                    <Mailicon class="size-6 stroke-sky-900  fill-sky-600"/>
                    <h2>Contactame</h2>
                </div>
    </a>
</Sectioncontainer>