---
import Arrowmove from "./Arrowmove";
import ButtonEffect from "./ButtonEffect";
import Arrowicon from "./icons/Arrowicon.astro";
import Cssicon from "./icons/Cssicon.astro";
import Cvicon from "./icons/Cvicon.astro";
import Downloadicon from "./icons/Downloadicon.astro";
import Experienceicon from "./icons/Experienceicon.astro";
import Htmlicon from "./icons/Htmlicon.astro";
import Jsicon from "./icons/Jsicon.astro";
import Mailicon from "./icons/Mailicon.astro";
import Proyectosicon from "./icons/Proyectosicon.astro";
import Telegramicon from "./icons/Telegramicon.astro";
import Viewicon from "./icons/Viewicon.astro";
import Lineatiempo from "./Lineatiempo.astro";
import Sectioncontainer from "./Sectioncontainer.astro";
---

<div class="border border-[#242223]"></div>
<section class="md:max-w-6xl md:m-auto">
  <div
    class="grid md:grid-cols-12 md:grid-rows-9 h-dvh md:border border-[#242223] md:border-t-0 border-l-0"
  >
    <button
      class="col-span-1 md:col-span-4 hover:bg-slate-900/15 md:row-span-1 md:border border-[#242223] pl-4 pr-2 btn-arrow btn iluminacion"
      style="--iluminacion: #0096fa"
    >
      <a href="" class="flex items-center justify-between">
        <div class="flex gap-2 items-center uppercase font-medium">
          <Mailicon class="size-6 fill-blue-400" />
          <h2>Contactame</h2>
        </div>
        <Arrowicon class="size-8 arrow-icon" />
      </a>
    </button>
    <button
      class="col-span-1 md:col-span-4 hover:bg-slate-900/15 md:row-span-1 md:border border-[#242223] pl-4 pr-2 btn-arrow btn iluminacion"
      style="--iluminacion: #0096fa"
    >
      <a href="" class="flex justify-between">
        <div class="flex gap-2 items-center uppercase font-medium">
          <Telegramicon />
          <h2>Telegram</h2>
        </div>
        <Arrowicon class="size-8 arrow-icon" />
      </a>
    </button>
    <Arrowmove client:load />

    <button
      class="col-span-1 md:col-span-4 hover:bg-slate-900/15 md:row-span-1 md:border border-[#242223] pl-4 pr-2 btn-arrow btn iluminacion flex justify-between items-center cursor-default"
      style="--iluminacion:rgba(255, 255, 255, 0.514)"
    >
      <div class="flex gap-2 items-center uppercase font-medium">
        <Cvicon />
        <h2>cv</h2>
      </div>
      <div class="flex gap-4 items-center">
        <Viewicon class="hover:stroke-sky-500 cursor-pointer size-8" />
        <Downloadicon class="hover:stroke-sky-500 cursor-pointer size-8" />
      </div>
    </button>
    <ButtonEffect client:load />
    <section
      class="md:col-span-6 py-4 pl-7 row-span-6 border border-[#242223] border-t-1 md:border-t-0  mt-4 md:mt-0"
    >
    <h2 class="text-sky-700 flex items-center gap-2 text-xl"><Proyectosicon/> Experiencia</h2>
      <ol class="relative border-s dark:border-gray-700 my-10">
        <Lineatiempo
          titulo="Comienzo y aprendizaje"
          tiempo="27 de febrero del 2023"
          texto="Me inscribi en el curso de diplomatura en iniciación al desarollo web, donde aprendi"
          habilidades="(HTML | CSS | JS | MYSQL)"
        >
    </Lineatiempo>
        <Lineatiempo
          titulo="Nuevo comienzo"
          tiempo="07 de agosto del 2023"
          texto="Me volvi a inscribir en otro curso diferente donde pude aprender a manejar nuevas habilidades como desarrollador web"
          habilidades="(NEXT JS | TAILWIND | DATABASE | TYPESCRIPT)"
        >
    
    </Lineatiempo>
        <Lineatiempo
          titulo="Actualmente"
          tiempo="07 de diciembre del 2023"
          texto="Sigo aprendiendo nuevas habidades"
        >
    
    </Lineatiempo>
      </ol>
    </section>
    <section class="md:col-span-6 md:row-span-6">a</section>
  </div>
</section>
