---
import Buttongroup from "./Buttongroup.astro";
import Cardinfo from "./Cardinfo.astro";
import Proyectosicon from "./icons/Proyectosicon.astro";
import Lineadetiempo from "./Lineadetiempo.astro";
---

<div class="border border-[#242223] w-full"></div>
<section class=" w-full md:max-w-6xl md:m-auto" id="acercade">
  <header
    class="grid grid-cols-1 md:grid-cols-3    md:border border-[#242223] md:border-t-0 border-l-0"
  >
    <Buttongroup />
    
  </header>
  <section class="w-full grid grid-cols-1 md:border-x border-x-gris md:grid-cols-2">
    <div class="col-span-1 pl-8 px-4 md:border-r border-r-gris">
      <h2 class="text-sky-700 flex items-center gap-2 text-2xl -ml-3 my-4">
        <Proyectosicon /> Educacion
      </h2>
      <Lineadetiempo/>
    </div>
    <div class="col-span-1 w-full overflow-hidden px-4">
      <Cardinfo />
    </div>

  </section>
</section>