---
import ButtonEffect from "./ButtonEffect";
import Cuadricula from "./Cuadricula.astro";
import Proyectosicon from "./icons/Proyectosicon.astro";
import Sabermas from "./icons/Sabermas.astro";
---
<Cuadricula />
<section class="h-dvh min-h-screen relative w-full overflow-hidden grid place-content-center  ">
  <div
    class="absolute pointer-events-none animate-fade-in bg-ambientLight left-0 top-0 h-[1380px] w-[560px] rounded-full translate-y-[-350px] rotate-[-45deg]"
  >
  </div><div
    class="absolute pointer-events-none animate-fade-in bg-ambientLight3 left-0 top-0 h-[1380px] w-[240px] rounded-full translate-y-[-70%] translate-x-[-180%] rotate-[-45deg]"
  >
  </div><div
    class="absolute pointer-events-none animate-fade-in bg-ambientLight2 left-0 top-0 h-[1380px] w-[240px] rounded-full translate-y-[-50%] translate-x-[5%] rotate-[-45deg]"
  >
  </div>
  
  <div class="flex flex-col items-center px-4">
    <h1 class="text-5xl md:text-7xl bg-clip-text">Rodrigo Gimenez</h1>
    <h2 class="-mt-2 text-xl md:text-2xl luz">Desarrollador Front-End</h2>
  </div>
  <div class="flex items-center gap-4 justify-center mt-4">
    <a href="#acercade"
      style="--iluminacion: #0096fa"
      class="flex items-center gap-2 bg-slate-700/50 hover:bg-sky-600/50 px-3 btn py-2 rounded-full iluminacion text-sm md:text-base"
    >
      <Sabermas class="size-5 md:size-6" />
      Saber mas
    </a>
    <a href="#proyectos"
      style="--iluminacion: #0096fa"
      class="flex items-center gap-2 bg-slate-700/50 hover:bg-sky-600/50 px-3 btn py-2 rounded-full iluminacion text-sm md:text-base"
    >
      <Proyectosicon class="size-5 md:size-6" />
      Proyectos
    </a>
    <ButtonEffect client:load />
  </div>
</section>

<style>
  h1 {
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    background: linear-gradient(to right, #ffffff 30%, #888888 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }

  
</style>
