---
import Experienceicon from "./icons/Experienceicon.astro";


interface Props {
	titulo: string;
	tiempo: string;
	texto: string;
	habilidades?: string;
}

const { titulo, tiempo, texto, habilidades } = Astro.props;
---

<li class="mb-10 ms-6">
    <span class="absolute flex items-center justify-center w-6 h-6 dark:bg-blue-900 rounded-full -start-3 ring-8 dark:ring-gray-900">
        <Experienceicon />
    </span>
    <h3 class="mb-1 text-lg font-semibold dark:text-white">{titulo}</h3>
    <time class="block mb-2 text-sm font-normal leading-none dark:text-gray-500">{tiempo}</time>
    <p class="text-base font-normal dark:text-gray-400">{texto} <strong class="text-sky-600"> {habilidades } </strong></p>
    <slot />
</li>    